<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599323313147-q7jvpamo5eegjuhgl0bd8rssrg76b42e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599323313147-q7jvpamo5eegjuhgl0bd8rssrg76b42e</string>
	<key>API_KEY</key>
	<string>AIzaSyC-kzgip7UaZGeyUctD-1GMON7_XNKWO5U</string>
	<key>GCM_SENDER_ID</key>
	<string>599323313147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitchat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-46e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-46e8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599323313147:ios:253f39012489d506ac815e</string>
</dict>
</plist>